@import url('https://fonts.googleapis.com/css?family=Poppins');

body, html{
    margin: 0;
    background: #2b2927;
   
  }
  h1 , h2, h3, h4, h5, h6{
    text-align: center;
    color:white;
  }

.container-alla{
  width: fit-content;
  margin: 40px auto;
  height: auto;
}
.containera{
  width: calc(50% - 20px);
  overflow:hidden;
  height: fit-content;
  margin:3px;
  padding: 0;
  display:block;
  position:relative;
  float:left;
}
img{
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
}
.titlea{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}
.texta{
  position:absolute;
  top: 70%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%) 
}
.containera:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.containera:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}
@media only screen and (max-width: 900px) {
    .containera {
        width: calc(50% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    .containera {
        width: 100%;
    }
}